:root {
  --vc-pgn-active-color: var(--vc-clr-primary);
  --vc-pgn-background-color: var(--vc-clr-secondary);
  --vc-pgn-border-radius: 0;
  --vc-pgn-height: 4px;
  --vc-pgn-margin: 6px 5px;
  --vc-pgn-width: 16px;
}

.carousel__pagination {
  bottom: 5px;
  display: flex;
  justify-content: center;
  left: 50%;
  line-height: 0;
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  transform: translateX(-50%);
}

.carousel__pagination-button {
  border: 0;
  cursor: pointer;
  margin: var(--vc-pgn-margin);
  background-color: var(--vc-pgn-background-color);
  border-radius: var(--vc-pgn-border-radius);
  display: block;
  height: var(--vc-pgn-height);
  width: var(--vc-pgn-width);
  padding: 0;
}

.carousel__pagination-button--active {
  background-color: var(--vc-pgn-active-color);
}

@media (hover: hover) {
  .carousel__pagination-button:hover {
    background-color: var(--vc-pgn-active-color);
  }
}

.carousel.is-vertical {
  .carousel__pagination {
    bottom: 50%;
    flex-direction: column;
    left: auto;
    right: 5px;
    transform: translateY(50%);
  }

  .carousel__pagination-button {
    height: var(--vc-pgn-width);
    width: var(--vc-pgn-height);
  }
}

.carousel.is-btt .carousel__pagination {
  flex-direction: column-reverse;
}
