:root {
  --vc-trk-height: 200px;
}

.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  height: var(--vc-trk-height);
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel.is-ttb {
  .carousel__track {
    flex-direction: column;
  }
}

.carousel.is-btt {
  .carousel__track {
    flex-direction: column-reverse;
  }
}
