.carousel__prev,
.carousel__next {
  background-color: var(--carousel-color-primary);
  border-radius: var(--carousel-nav-width);
  width: var(--carousel-nav-width);
  height: var(--carousel-nav-width);
  text-align: center;
  font-size: calc(var(--carousel-nav-width) * 2 / 3);
  padding: 0;
  color: var(--carousel-color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: 0;
  cursor: pointer;
}

.carousel__prev {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}

.carousel__next {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
