.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.carousel__pagination-button {
  margin: 5px;
  width: 10px;
  height: 5px;
  border: 0;
  cursor: pointer;
  background-color: var(--carousel-color-secondary);
}

.carousel__pagination-button--active {
  background-color: var(--carousel-color-primary);
}
