.carousel__pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}
.carousel__pagination-button {
  margin: var(--carousel-pagination-margin);
  width: var(--carousel-pagination-width);
  height: var(--carousel-pagination-height);
  border-radius: var(--carousel-pagination-height);
  border: 0;
  cursor: pointer;
  background-color: var(--carousel-pagination-bg-color);
}

.carousel__pagination-button--active {
  background-color: var(--carousel-pagination-active-color);
}
