.carousel {
  position: relative;
  text-align: center;
  box-sizing: border-box;
  touch-action: pan-y;
  overscroll-behavior: none;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel * {
  box-sizing: border-box;
}

.carousel__track {
  display: flex;
  padding: 0 !important;
  margin: 0 !important;
  position: relative;
  transition: transform ease-out;
  height: var(--vc-trk-height, auto);
  transition-duration: var(--vc-trk-transition-duration);
}

.carousel__viewport {
  overflow: hidden;
}

.carousel__sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel.is-ttb {
  .carousel__track {
    flex-direction: column;
  }
}

.carousel.is-btt {
  .carousel__track {
    flex-direction: column-reverse;
  }
}

.carousel.is-vertical {
  .carousel__slide--clone:first-child {
    margin-block-start: var(--vc-trk-cloned-offset);
  }
}

.carousel:not(.is-vertical) {
  .carousel__slide--clone:first-child {
    margin-inline-start: var(--vc-trk-cloned-offset);
  }
}
.carousel.is-effect-fade {
  .carousel__track {
    transition: none !important;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
  }

  .carousel__slide {
    opacity: 0;
    transition: opacity 0.3s ease;
    grid-area: 1 / 1; /* Make all slides occupy the same grid cell */
    pointer-events: none; /* Prevent inactive slides from being clickable */
  }

  .carousel__slide--active {
    opacity: 1;
    pointer-events: auto; /* Re-enable pointer events for active slide */
  }
}
