.carousel,
.carousel * {
  box-sizing: border-box;
}

.carousel {
  height: var(--vc-carousel-height);
  overscroll-behavior: none;
  position: relative;
  touch-action: pan-y;
  z-index: 1;
}

.carousel.is-dragging {
  touch-action: none;
}

.carousel__track {
  display: flex;
  gap: var(--vc-slide-gap);
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
  transition: transform ease-out;
  transition-duration: var(--vc-transition-duration);
  width: 100%;
}

.carousel__viewport {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

.carousel__sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.carousel.is-ttb .carousel__track {
  flex-direction: column;
}

.carousel.is-btt .carousel__track {
  flex-direction: column-reverse;
}

.carousel.is-vertical .carousel__slide--clone:first-child {
  margin-block-start: var(--vc-cloned-offset);
}

.carousel:not(.is-vertical) .carousel__slide--clone:first-child {
  margin-inline-start: var(--vc-cloned-offset);
}

.carousel.is-effect-fade .carousel__track {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  transition: none;
}

.carousel.is-effect-fade .carousel__slide {
  grid-area: 1 / 1;
  height: 100%;
  opacity: 0;
  pointer-events: none;
  transition: opacity ease-in-out;
  transition-duration: var(--vc-transition-duration);
  width: 100%;
}

.carousel.is-effect-fade .carousel__slide--active {
  opacity: 1;
  pointer-events: auto;
}
